tensorflow
scikit-learn
librosa
opencv-python
streamlit
matplotlib
nltk
numpy
pandas
soundfile
pydub
googletrans==4.0.0-rc1
langdetect
plotly
reportlab
qrcode[pil]
psutil
pyttsx3
SpeechRecognition
Pillow
scipy
mediapipe
